<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.matjzing.mapper.AttachingFileMapper">
	
	<!-- 첨부_파일 상세 조회 -->
	<select id="selectFile" parameterType="fileInsertRequest" resultType="fileSelectResponse">
		/* com.matjzing.mapper.AttachingFileMapper.selectAttachingFile */
		SELECT
			  ATTACHING_FILE_SEQ /*첨부파일_시퀀스*/
			, TARGET_CD /*타겟_코드*/
			, TARGET_SEQ /*타겟_시퀀스*/
			, FILE_ORIGINAL_NAME /*파일_원본_명*/
			, FILE_PATH /*파일_경로*/
			, FILE_SIZE /*파일_사이즈*/
			, FILE_EXTENSION_NAME /*파일_확장자_명*/
			, OPEN_FILE_YN /*공개_파일_여부*/
			, USE_YN /*사용_여부*/
			, REGISTER_SEQ /*등록자_시퀀스*/
			, REGISTER_IP /*등록자_아이피*/
			, REGISTRATION_DT /*등록_일시*/
			, UPDATER_SEQ /*수정자_시퀀스*/
			, UPDATER_IP /*수정자_아이피*/
			, UPDATE_DT /*수정_일시*/
		FROM
			ATTACHING_FILE
		WHERE
			ATTACHING_FILE_SEQ = #{attachingFileSeq}
			AND USE_YN = TRUE
	</select>

	<!-- 첨부_파일 등록 -->
	<insert id="insertAttachingFile" parameterType="fileInsertRequest" useGeneratedKeys="true" keyProperty="attachingFileSeq">
		/* com.matjzing.mapper.AttachingFileMapper.insertAttachingFile */
		INSERT INTO ATTACHING_FILE (
			  TARGET_CD /*타겟_코드*/
			, TARGET_SEQ /*타겟_시퀀스*/
			, FILE_ORIGINAL_NAME /*파일_원본_명*/
			, FILE_PATH /*파일_경로*/
			, FILE_SIZE /*파일_사이즈*/
			, FILE_EXTENSION_NAME /*파일_확장자_명*/
			, OPEN_FILE_YN /*공개_파일_여부*/
			, USE_YN /*사용_여부*/
			, REGISTER_SEQ /*등록자_시퀀스*/
			, REGISTER_IP /*등록자_아이피*/
			, REGISTRATION_DT /*등록_일시*/
			, UPDATER_SEQ /*수정자_시퀀스*/
			, UPDATER_IP /*수정자_아이피*/
			, UPDATE_DT /*수정_일시*/
		) VALUES (
			  #{targetCd}
			, #{targetSeq}
			, #{fileOriginalName}
			, #{filePath}
			, #{fileSize}
			, #{fileExtensionName}
			, #{openFileYn}
			, TRUE
			, #{registerSeq}
			, #{registerIp}
			, NOW(3)
			, #{updaterSeq}
			, #{updaterIp}
			, NOW(3)
		)
	</insert>

	<!-- 첨부_파일 삭제 -->
    <update id="deleteAttachingFile" parameterType="fileInsertRequest">
		/* com.matjzing.mapper.AttachingFileMapper.deleteAttachingFile */
    	UPDATE ATTACHING_FILE SET
			  UPDATER_SEQ = #{updaterSeq}
			, UPDATE_DT = NOW(3)
			, USE_YN = FALSE
		WHERE
			ATTACHING_FILE_SEQ = #{attachingFileSeq}
	</update>

	<!-- 첨부_파일 타겟 기준 일괄 비활성화 (단일 이미지 정책: 새로 등록한 파일 제외 전체 USE_YN=FALSE 처리) -->
	<update id="deactivateAttachingFileByTarget" parameterType="fileInsertRequest">
		/* com.matjzing.mapper.AttachingFileMapper.deactivateAttachingFileByTarget */
		UPDATE ATTACHING_FILE SET
			  UPDATER_SEQ = #{updaterSeq}
			, UPDATE_DT = NOW(3)
			, USE_YN = FALSE
		WHERE
			TARGET_CD = #{targetCd}
			AND TARGET_SEQ = #{targetSeq}
			AND USE_YN = TRUE
		<if test="attachingFileSeq != null">
			AND ATTACHING_FILE_SEQ != #{attachingFileSeq}
		</if>
	</update>

	<!--    파일 목록 조회-->
	<select id="getFileList" parameterType="fileSelectRequest" resultType="fileSelectResponse">
		/* com.matjzing.mapper.AttachingFileMapper.getFileList */
		SELECT
			  ATTACHING_FILE_SEQ /*첨부파일_시퀀스*/
			, FILE_ORIGINAL_NAME /*파일_원본_명*/
		<choose>
			<when test="openFileYn == true">
				, TARGET_SEQ /*타겟_시퀀스*/
				, CONCAT(#{fileUrlPrefix}, FILE_PATH) as FILE_PATH /*파일_경로*/
			</when>
			<otherwise>
				, CONCAT(#{fileUrlPrefix}, TARGET_SEQ) as TARGET_SEQ /*타겟_시퀀스*/
				, FILE_PATH
			</otherwise>
		</choose>
			, FILE_SIZE /*파일_사이즈*/
			, FILE_EXTENSION_NAME /*파일_확장자_명*/
		FROM
		    ATTACHING_FILE
		WHERE
			USE_YN = TRUE
			AND TARGET_CD = #{targetCd}
			AND TARGET_SEQ = #{targetSeq}
	</select>

	<select id="getFile" parameterType="fileSelectRequest" resultType="fileSelectResponse">
		/* com.matjzing.mapper.AttachingFileMapper.getFile */
		SELECT
			  ATTACHING_FILE_SEQ /*첨부파일_시퀀스*/
			, FILE_ORIGINAL_NAME /*파일_원본_명*/
			<choose>
				<when test="openFileYn == true">
					, TARGET_SEQ /*타겟_시퀀스*/
					, CONCAT(#{fileUrlPrefix}, FILE_PATH) as FILE_PATH /*파일_경로*/
				</when>
				<otherwise>
					, CONCAT(#{fileUrlPrefix}, TARGET_SEQ) as TARGET_SEQ /*타겟_시퀀스*/
					, FILE_PATH
				</otherwise>
			</choose>
			, FILE_SIZE /*파일_사이즈*/
			, FILE_EXTENSION_NAME /*파일_확장자_명*/
		FROM
			ATTACHING_FILE
		WHERE
			USE_YN = TRUE
			AND TARGET_CD = #{targetCd}
			AND TARGET_SEQ = #{targetSeq}
		ORDER BY ATTACHING_FILE_SEQ
		LIMIT 1
	</select>

</mapper>