<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
 * author: 김아진
 * date: 2026-05-11
 * pname: 관리자
 * desc: 관리자 매퍼 XML 작성
 -->
<mapper namespace="com.matjzing.mapper.FrontGroupsMapper">
	
	<!-- 그룹 List 조회 -->
	<select id="selectFrontGroupsList" parameterType="frontGroupsSelectListRequest" resultType="frontGroupsSelectListResponse">
        /* com.matjzing.mapper.FrontGroupsMapper.selectFrontGroupsList */
		SELECT
			  GROUP_SEQ /**/
			, NAME /**/
			, INVITE_CODE /**/
			, USE_YN /**/
			, REGISTER_SEQ /**/
			, REGISTER_IP /**/
			, REGISTRATION_DT /**/
			, UPDATER_SEQ /**/
			, UPDATER_IP /**/
			, UPDATE_DT /**/
		FROM
			TOPIC_GROUPS
<!--		<if test="@kr.aws.demo.util.MapperUtil@isNotEmpty(id)">-->
<!--		</if>-->
	</select>

	<!-- 그룹 Page 조회 -->
	<select id="selectFrontGroupsPage" parameterType="frontGroupsSelectPageRequest" resultType="frontGroupsSelectPageResponse">
		/* com.matjzing.mapper.FrontGroupsMapper.selectFrontGroupsPage */
		SELECT
			  GROUP_SEQ /**/
			, NAME /**/
			, INVITE_CODE /**/
			, USE_YN /**/
			, REGISTER_SEQ /**/
			, REGISTER_IP /**/
			, REGISTRATION_DT /**/
			, UPDATER_SEQ /**/
			, UPDATER_IP /**/
			, UPDATE_DT /**/
		FROM
			TOPIC_GROUPS
<!--		<if test="@kr.aws.demo.util.MapperUtil@isNotEmpty(id)">-->
<!--		</if>-->
	</select>


	<!-- 그룹 상세 조회 -->
	<select id="selectFrontGroups" parameterType="frontGroupsSelectRequest" resultType="frontGroupsSelectResponse">
		/* com.matjzing.mapper.FrontGroupsMapper.selectFrontGroups */
		SELECT
			  GROUP_SEQ /**/
			, NAME /**/
			, INVITE_CODE /**/
			, USE_YN /**/
			, REGISTER_SEQ /**/
			, REGISTER_IP /**/
			, REGISTRATION_DT /**/
			, UPDATER_SEQ /**/
			, UPDATER_IP /**/
			, UPDATE_DT /**/
		FROM
			TOPIC_GROUPS
		WHERE
			GROUP_SEQ = #{groupSeq}
<!--		<if test="@kr.aws.demo.util.MapperUtil@isNotEmpty(id)">-->
<!--		</if>-->
	</select>

	<!-- 그룹 등록 -->
	<insert id="insertFrontGroups" parameterType="frontGroupsInsertRequest" useGeneratedKeys="true" keyProperty="groupsSeq">
		/* com.matjzing.mapper.FrontGroupsMapper.insertFrontGroups */
		INSERT INTO TOPIC_GROUPS (
			  NAME /**/
			, INVITE_CODE /**/
			, USE_YN /**/
			, REGISTER_SEQ /**/
			, REGISTER_IP /**/
			, REGISTRATION_DT /**/
			, UPDATER_SEQ /**/
			, UPDATER_IP /**/
			, UPDATE_DT /**/
		) VALUES (
			  #{name}
			, #{inviteCode}
			, TRUE
			, #{registerSeq}
			, #{registerIp}
			, NOW(3)
			, #{updaterSeq}
			, #{updaterIp}
			, NOW(3)
		)
	</insert>

	<!-- 그룹 수정 -->
    <update id="updateFrontGroups" parameterType="frontGroupsUpdateRequest">
		/* com.matjzing.mapper.FrontGroupsMapper.updateFrontGroups */
    	UPDATE TOPIC_GROUPS SET
			  UPDATER_SEQ = #{updaterSeq} /*수정자_시퀀스*/
			, UPDATER_IP = #{updaterIp} /*수정자_아이피*/
			, UPDATE_DT = NOW(3) /*수정_일시*/
			, NAME = #{name} /**/
			, INVITE_CODE = #{inviteCode} /**/
		WHERE
			GROUP_SEQ = #{groupSeq}
	</update>

	<!-- 그룹 삭제 -->
    <update id="deleteFrontGroups" parameterType="frontGroupsDeleteRequest">
		/* com.matjzing.mapper.FrontGroupsMapper.deleteFrontGroups */
    	UPDATE TOPIC_GROUPS SET
			  UPDATER_SEQ = #{updaterSeq} /*수정자_시퀀스*/
			, UPDATER_IP = #{updaterIp} /*수정자_아이피*/
			, UPDATE_DT = NOW(3) /*수정_일시*/
			, USE_YN = FALSE
		WHERE
			GROUP_SEQ = #{groupSeq}
	</update>

</mapper>